a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

}

nav a {
    color: white;
}

.offer a {
    color: black;
}

li {
    list-style: none;
}

header {
    background-image: url(images/home-img.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.header-content {
    display: flex;
    height: 70vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.header-content p {
    font-size: 24px;
}

.header-content h1 {
    font-size: 48px;
}

button {
    background: yellow;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    gap: 30px;
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
}

footer .footer-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer img {
    width: 180px;
}

/* about */

.about .about-box {
    width: 500px;
}

.about img {
    width: 500px;
}

.about h1 {
    text-align: center;
}

/* menu */
.menu a,
.coffee-selction a {
    background-color: blue;
    color: white;
    padding: 10px 30px;
}


.menu {
    text-align: center;
}

.menu-box {
    padding: 40px 10px;
    border: 1px solid black;
    width: 300px;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact-box {
    width: 500px;
}

.contact-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

}

.contact-box form input,
.contact-box textarea {
    outline: none;
    padding: 10px 30px;
    border: 1px solid black;
    width: 100%;

}

.contact-box form input[type='submit'] {
    width: 100px !important;
    background: yellow;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
}

/* coffee-selction */
.coffee-selction .row .menu-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coffee-selction img {
    width: 200px;
    height: 20vh;
}

/* event and workshop */
.event-box {
    width: 500px !important;
}

.event-box p {
    font-size: 24px;
}

.cart input {
    width: 40px !important;
    height: 40px !important;
}

.cart .row {
    align-items: center;
}

.cart img {
    width: 200px;
    height: 200px;
}

.brewing img {
    width: 500px;
}

.brewing p {
    width: 500px;
    font-size: 34px;
}

.brewing p {
    width: 500px;
}

/* media quesries  */
@media(max-width:900px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    nav img {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    nav {
        margin-bottom: 200px;
    }

    .row {
        flex-direction: column;
        height: fit-content;
        align-items: center;
        width: 100% !important;
    }

    .row img {
        width: 100% !important;
    }
    .event-box{
        width: 100% !important;
    }

    .row p {
        width: 100% !important;
    }

    .about img {
        width: 100% !important;
    }

    .about .row div {
        width: 100% !important;
    }

    .about .row p {
        width: 100% !important;
    }

    section {
        height: auto !important;
    }

    form input {
        width: 100% !important;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .contact-box iframe {
        width: 100% !important;
    }

    .contact-box form input,
    .contact-box form textarea {
        width: 100% !important;
    }

    .contact-box iframe {
        width: 100% !important;
    }

    .header-content {
        height: auto !important;
    }
}